.banner {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 1;
      animation: vidAni 3.5s;
   }

   .line {
      background-color: #fff;
      width: 30em;
      height: 1px;
      animation: lineIn 1s;
      margin: 0;
   }

   .name {
      h3 {
         font-family: $style-font;
         font-size: 3.5em;
         transform: translateY(-1.2em);
         overflow: hidden;

         span {
            display: block;
            animation: h3Reveal 1.7s;
         }
      }

      p {
         font-family: $style-font;
         font-weight: 300;
         text-align: center;
         font-size: 2em;
         margin: 0;
         padding: 0;
         transform: translateY(-1.3em);
         overflow: hidden;

         span {
            display: block;
            animation: descReveal 2.4s;
         }
      }
   }

   .fa-angle-double-down {
      font-size: 1.3em;
      transform: translateY(-1.5em);
      animation: theCarets 3s;
   }
}

@keyframes lineIn {
   0% {
      width: 0em;
   }
   100% {
      width: 30em;
   }
}

@keyframes h3Reveal {
   0% {
      transform: translate(0, 140%);
   }

   50% {
      transform: translate(0, 110%);
   }

   100% {
      transform: translate(0, 0);
   }
}

@keyframes descReveal {
   0% {
      transform: translate(0, -140%);
   }

   70% {
      transform: translate(0, -110%);
   }

   100% {
      transform: translate(0, 0);
   }
}

@keyframes theCarets {
   0% {
      opacity: 0;
      transform: translateY(-4em);
   }

   70% {
      opacity: 0;
      transform: translateY(-3em);
   }

   100% {
      opacity: 1;
      transform: translateY(-1.5em);
   }
}

@keyframes vidAni {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 440px) {
   .banner {
      .line {
         width: 15em;
      }

      .name {
         h3 {
            font-size: 2em;
            text-align: center;
            transform: translateY(-1.4em);
         }

         p {
            font-family: $style-font;
            font-weight: 300;
            text-align: center;
            font-size: 1.3em;
            margin: 0;
            transform: translateY(-1em);

            span {
               display: block;
               animation: descReveal 1.7s;
            }
         }
      }

      .fa-angle-double-down {
         font-size: 1.3em;
         transform: translateY(-0.5em);
         animation: theCarets 3s;
      }
   }

   @keyframes theCarets {
      0% {
         opacity: 0;
         transform: translateY(-4em);
      }
   
      70% {
         opacity: 0;
         transform: translateY(-3em);
      }
   
      100% {
         opacity: 1;
         transform: translateY(-0.5em);
      }
   }

   @keyframes lineIn {
      0% {
         width: 0em;
      }
      100% {
         width: 15em;
      }
   }
}
